<!-- <nav>
    <label class="logo">OnlineOrders</label>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav> -->

<!-- <mat-toolbar color="accent">
    <div class="fxHide.gt-xs">
        <button mat-icon-button [(ngModel)]="opened">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/categories">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
</mat-toolbar> -->