<footer class="footer-distributed">
    <div class="footer-left">
        <h3>About <span>FreshMeat.ie</span></h3>

        <p class="footer-links">
            <a routerLink="home">Home</a>
            |
            <a routerLink="about">About</a>
            |
            <a routerLink="about">Contact</a>
        </p>
        <div class="footer-icons">
           <img src="assets/images/icons/stripe.png" width="86" alt="" class="icon">
           <img src="assets/images/icons/visa.png" alt="" width="86" class="icon">
           <img src="assets/images/icons/mastercard.png" alt="" width="86" class="icon">
        </div>
        <br />
        <p class="footer-company-name">© 2021 Kruder Software trading as Fresh Meat.</p>
    </div>

    <div class="footer-center">
        <div>
            <div class="icon-holder">
                <mat-icon>map</mat-icon>
            </div>
              <p><span>Main Street,
                 Wicklow Town</span>
                 Co.  Wicklow, Ireland - 629619</p>
        </div>
        <div style="margin-top: 16px;">
            <div class="icon-holder">
                <mat-icon> email</mat-icon>
            </div>
            <p style="padding-top: 9px"><a href="mailto:info@freshmeat.ie">info@freshmeat.ie</a></p>
        </div>
        <div style="margin-top: 16px;">
            <div class="icon-holder">
                <mat-icon>line_weight</mat-icon>
            </div>
            <p style="padding-top: 9px"><a class="terms" routerLink="/legal">Terms and conditions</a></p>            
        </div>
       
        <div style="margin-top: 16px;">
            <div class="icon-holder">
                <mat-icon>favorite</mat-icon>
            </div>
            <p style="padding-top: 9px">Source: Coogans Meat, TRIM</p>            
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Our Services</span>
            We offer the delivery of the best quality Irish beef, pork, chicken and lamb at affordable prices.  All the meat purchased through this service is 
            100% traceable to the source.  All the products we deliver are sourced from Coogans Meat in TRIM.</p>
        <div class="footer-icons">
            <a href=""><img src="assets/images/icons/facebook_icon.png" alt="" class="icon"></a>
            <a href="https://twitter.com/OnlineOrders10" target="_blank"><img src="assets/images/icons/twitter_icon.png" alt="" class="icon"></a>
            <a href=""><img src="assets/images/icons/instagram_icon.svg" alt="" class="icon"></a>
            <a href=""><img src="assets/images/icons/linkedIn_icon.png" alt="" class="icon"></a>
        </div>
    </div>
</footer>
