<div fxFlex fxLayout fxLayoutAlign="end" class="nav-links">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li *ngIf="!authService.isLoggedIn()" ><a  routerLink="login">Login</a></li>
        <li *ngIf="authService.isLoggedIn()" ><a (click)="logout()">Logout</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/about">Contact</a></li>
        <li><a routerLink="/orders">My Orders</a></li>
        <li  *ngIf="authService.isAdmin()"><a routerLink="/admin">Admin Orders</a></li>
    </ul>
</div>
<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs style="float: left;">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li *ngIf="!isLoading" style="padding-top:5px;"><a style="padding:0px" (click)="showCart()"><img width="36" class="basket-icon" 
            src="assets/images/icons/shopping-basket.png">
            <div class="basket-counter">{{basketCount}}</div></a></li>
    </ul>
</div>
