.primary{
    background-color: #fa3e7d;
    width: 100%
}

.card-container {
    margin: 25px auto 0;
    position: relative;
    max-width: 692px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.card {
background-color: #fff;
padding: 30px;
position: relative;
box-shadow: 0 0 5px rgba(75, 75, 75, .07);
z-index: 1;
}

.card-body {
float: left;
width:100%;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix{
    clear: both;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}