<div class="body-content">
  <span class="floating-content">
    <span class="page-title">Choose A Category</span>
  </span>
  <div class="card-container" *ngFor="let category of model" (click)="selectCategory(category.id)">
    <div class="card u-clearfix">
      <div class="card-body">  
        <h2 class="card-title">{{category.name}}</h2>
        <span class="card-description subtle">{{category.description}}</span>
        <div class="card-read">         
          <button class="card-button" (click)="selectCategory(category.id)">SHOP</button>
        </div>  
      </div>
      <div class="card-media-full">
        <img src="{{category.imageUrl}}" alt="{{category.name}}" style="float:right"/>
      </div>
      <div class="card-media">
        <img src="{{category.imageUrlPart}}" alt="{{category.name}}" style="float:right"/>
      </div>
          
    </div> 
  </div>
</div>
