<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">   
        <div id="side-menu-title" class="side-menu-item"></div>
        <div *ngIf="!authService.isLoggedIn()"  class="side-menu-item" (click)="login()">Login</div>
        <div *ngIf="authService.isLoggedIn()"   class="side-menu-item" (click)="logout()">Logout</div>
        <div  class="side-menu-item">About</div>
        <div  class="side-menu-item">Contact</div>
    </mat-sidenav>    
    <mat-sidenav-content>
        <mat-toolbar color="accent" role="heading">
            <div class="fxHide.gt-xs">
                <button mat-icon-button id="site-burger" (click)="toggleNav()" >
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/categories">OnlineOrders</a>
            </div>
            <span class="example-spacer"></span>
            <div fxFlex fxLayout fxLayoutAlign="end" class="nav-links">
                <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                    <li *ngIf="!authService.isLoggedIn()" ><a  routerLink="login">Login</a></li>
                    <li *ngIf="authService.isLoggedIn()" ><a (click)="logout()">Logout</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
                <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                    <li><a style="padding:0px" (click)="showCart()"><img src="assets/images/icons/shopping-basket.png" width="45px"></a></li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>           
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="u-clearfix"></div>
<app-footer ></app-footer>