<app-cookie-consent></app-cookie-consent>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">   
        <div id="side-menu-title" class="side-menu-item"></div>
        <div *ngIf="!authService.isLoggedIn()"  class="side-menu-item" (click)="login()">Login</div>
        <div *ngIf="authService.isLoggedIn()"   class="side-menu-item" (click)="logout()">Logout</div>
        <div  class="side-menu-item" (click)="about()">About</div>
        <div  class="side-menu-item" (click)="about()">Contact</div>
    </mat-sidenav>    
    <mat-sidenav-content>
        <mat-toolbar color="accent" role="heading">
            <div class="fxHide.gt-xs">
                <button mat-icon-button id="site-burger" (click)="toggleNav()" >
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/home" id="logo"><img class="logo" src="assets/images/freshmeatlogo.png"></a>
            </div>
            <span class="example-spacer"></span>
            <app-nav-links></app-nav-links>
        </mat-toolbar>
        <main  (click)="closeSideMenu()">
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">Please wait</ngx-spinner>
            <router-outlet></router-outlet>    
            <div class="u-clearfix"></div>       
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="u-clearfix"></div>
<app-footer ></app-footer>
<div class="u-clearfix"></div>