table {
    width: 100%;
  }

  .admin-tab{
    border: 1px solid #333;
    background-color: #fff;
    padding: 20px;
    width: 100%;    
    cursor: pointer;
    margin: 0 20px 20px 0;
    color: black;
  }