<div class="body-content">
    <span class="floating-content">
      <span class="page-title">Customer Orders</span>
    </span>
    <div class="u-clearfix"></div>
    <br />
    <div class="form-error" *ngIf="showError">
        <br />
        There was an error retrieving your order history, please contact support if this persists
        <br /><br />
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let order of dataSource">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Finalised on &nbsp;{{order.finalisedDateDisplay}} and delivery on {{order.deliveryDateDisplay}}
            </mat-panel-title>
            <mat-panel-description>              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Phone: 0{{order.deliveryPhone}}  Address: {{order.deliveryAddress}} {{order.eirCode}}  Amount: {{order.totalOrderDisplay}} <br /><br />
            <span [innerHTML]="order.productsSummary"></span> 
            <br /><br />
            Placed by <span style="color:violet"> {{order.userProfile.fullname}}</span>
            <br /><br />
            <mat-icon *ngIf="order.statusId < 5" (click)="toDelivery(order.orderCode)">notifications</mat-icon>&nbsp;&nbsp;
            <mat-icon *ngIf="order.statusId < 6" (click)="completeOrder(order.orderCode)">done_outline</mat-icon>
            <span style="color:#057a2c" *ngIf="order.statusId == 6">Delivered</span> 
          </p>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
  
