<div *ngIf="loaded" class="body-content">
<div class="admin-tab">
  <a routerLink="/admin/completedorders" class="admin-tab-link">Orders For Delivery</a>
</div>

<div class="admin-tab">
  <a routerLink="/admin/deliveryorders" class="admin-tab-link">Orders For TRIM</a>
  <br /><br />
  Total Number of Orders: {{dataSource.length}}
  <br /><br />
  Total Payment Amount For Trim: {{totalForTrim/100 | currency:'EUR'}}
  <br />
</div>

<div class="admin-tab">
  <a routerLink="/admin/print" class="admin-tab-link">Orders For Customers</a>
  <br /><br />
  Total Paid By Customers: {{totalPaid/100 | currency:'EUR'}}
</div>
</div>