<div class="body-content">
    <span class="floating-content">
      <span class="page-title">Your Order History</span>
    </span>
    <div class="u-clearfix"></div>
    <br />
    <div class="form-error" *ngIf="showError">
        <br />
        There was an error retrieving your order history, please contact support if this persists
        <br /><br />
    </div>
    <table mat-table #table [dataSource]="dataSource">
        
        <ng-container matColumnDef="finalisedDateDisplay">
            <th mat-header-cell *matHeaderCellDef> Placed On </th>
            <td mat-cell *matCellDef="let element"> {{element.finalisedDateDisplay}} </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDateDisplay">
            <th mat-header-cell *matHeaderCellDef> Delivery </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDateDisplay}} </td>
        </ng-container>       
       
        <ng-container matColumnDef="orderCode">
            <th mat-header-cell *matHeaderCellDef> Order Code </th>
            <td mat-cell *matCellDef="let element"> {{element.orderCode}} </td>
        </ng-container>

        <!-- Weight Column -->

        <ng-container matColumnDef="orderDeliveryFeeDisplay">
            <th mat-header-cell *matHeaderCellDef> Delivery Fee </th>
            <td mat-cell *matCellDef="let element"> {{element.orderDeliveryFeeDisplay}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="totalOrderDisplay">
            <th mat-header-cell *matHeaderCellDef> Order Total </th>
            <td mat-cell *matCellDef="let element"> {{element.totalOrderDisplay}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table >
  </div>
  
