<div class="testimonials-holder">
    <div class="testimonial-title">
        <div id="t-title">
            <img src="assets/images/icons/testimonials_icon.png" width="40" alt="" class="testimonials-icon">
            <div class="text-content">Testimonials</div>
        </div>
    </div>
    
    <div class="card" style="background-image: url(assets/images/card_background_faded.png);">      
        <div class="card-container">  
            <h5>April 2021</h5>
            <h5>Total Ordered: &nbsp; €120.50</h5>          
            <p class="message">Bought some rib steak beef and pork chops at great value.  
                <br /><br />
                Top class service, 
                It was simple to order and I got my meat within a few days.  
                The delivery fees are reasonable considering I no longer need to waste my time driving to collect the meat.   
                <br /><br />
                The meat was fresh, well packaged and my guests enjoyed a lovely bbq.</p>
          <h4><b>Daniel Ziki, Westmeath</b></h4>
         
        </div>
    </div>

    <div class="card" style="background-image: url(assets/images/card_background_faded.png);">      
        <div class="card-container">  
            <h5>May 2021</h5>
            <h5>Total Ordered: &nbsp; €80.60</h5>          
            <p class="message">This is a smooth and secure site with a lot of great value products,.  
                <br /><br />
                I ordered chicken thighs, pork belly and some beef shin.  
                I must say I was very impressed with the delivery service and getting my meat within 3 days of ordering. 
                <br /><br />
                The delivery fees are so low and I would recommend anyone to use this great service.</p>
          <h4><b>Geremias Ek, Dublin</b></h4>
         
        </div>
    </div>

    <div class="card" style="background-image: url(assets/images/card_background_faded.png);">      
        <div class="card-container">  
            <h5>April 2021</h5>
            <h5>Total Ordered: &nbsp; €134.80</h5>          
            <p class="message">Excellent customer services through the in app chat.  
                <br /><br />
                I needed assistance to place my order so i used the online chat service. 
                The guys were very quick to respond and helped me understand how to use the website.  
                
                <br /><br />
                I will definitely be using this service again mainly because of the customer service and competitive prices.
            </p>
          <h4><b>Munashe, Lucan</b></h4>
        </div>
    </div>
</div>
