/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {  
  height:100%;
  background: url(assets/images/background3_fade.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  font-size: 18px;
  height:100%;
}

.body-content{
  margin: 0 auto;
  max-width: 692px;
  color: #fff;
  padding-top: 26px;
}

.floating-content-holder{
   margin-top: 20px;
}

.floating-content{
  background-color: #2c292f;
  padding: 14px 20px;
  margin-bottom: 8px;
  margin-top: 30px;
  letter-spacing: 0.1em;
}
.page-title{
  text-transform: uppercase;
  font-size: larger;
}
.form-error{
  color:red;
}
.u-clearfix{
  clear:both;
}