<div class="body-content">
    <span class="floating-content">
      <span class="page-title">Cart Summary</span>
    </span>
    <div class="card-nav" style="padding: 16px 0 0 20px; background-color: transparent;">
      <button mat-raised-button class="shorter" color="warn" (click)="backToList()" style="float: right;">Continue shopping</button>
     <div class="u-clearfix"></div> 
    </div>
<div *ngIf="model && !model.success" class="cart-error">
    Error
</div>

<div class="cart-summary" *ngIf="model.success">
    <div  class="card-container"  *ngFor="let orderProduct of model.returnValue.orderCompanyProducts">
        <div class="card u-clearfix">         
          <div class="card-media-full">
             <img src="{{orderProduct.companyProduct.product.primaryImageUrl}}" height="100px" alt="{{orderProduct.companyProduct.product.name}}"/>
          </div>
          <div class="card-media">
            <img src="{{orderProduct.companyProduct.product.primaryImageUrl}}" height="100px" alt="{{orderProduct.companyProduct.product.name}}"/>
          </div> 
          <div class="card-body"> 
            <div class="card-title">{{orderProduct.companyProduct.product.name}}</div>
            <div class="delete-holder">
                <button mat-fab color="warn" (click)="deleteOrderProduct(orderProduct.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="u-clearfix"></div>
            <span class="card-author subtle">{{orderProduct.companyProduct.batchNumber}} | </span>
            <span class="price subtle">{{orderProduct.companyProduct.product.displayPrice}}</span>
            <div class="u-clearfix"></div>    
            <div class="cart-shopper u-clearfix">                
                <button class="action-btn minus" (click)="reduceQuantity(orderProduct.id)">-</button>
                <div class="action-lbl">{{orderProduct.quantity}}</div>
                <button class="action-btn plus" (click)="addQuantity(orderProduct.id)">+</button>
                <div class="cart-quantity cart-total">Total: {{orderProduct.displayTotal}}</div>
            </div> 
          </div>         
          <div class="u-clearfix"></div>    
        </div> 
      </div>
</div>

<div class="card-nav card-container no-border">   
    <h3>Your Order Totals</h3>
    <div class="media">
        <img src="assets/images/basket.png" width="80px" class="basket" alt=""/>
    </div>
    <div class="totals"><span class="card-author block subtle"> Subtotal ({{orderTotals.totalQuantity}} items):  {{orderTotals.productTotal}}  </span>
        <!-- <span class="card-author block subtle"  *ngIf="deliveryDetails.isValidDeliveryDetails"> Service Fee:  {{orderTotals?.serviceFee}}  </span>
        <span class="card-author block subtle"  *ngIf="deliveryDetails.isValidDeliveryDetails"> Delivery Fee:  {{orderTotals.deliveryFee}}  </span>
        <span class="card-author block" style="color:#50c27c"> Order Total:  {{orderTotals.orderTotal}}  </span> -->
    </div> 
    <div class="u-clearfix"></div>
</div>
<div class="u-clearfix"></div>
<div class="card-nav card-container no-border" *ngIf="model.returnValue.orderCompanyProducts.length > 0" >
    <div style="padding:16px">
        <button mat-raised-button color="accent" class="fullwidth" (click)="delivery()">Finalise your order</button>
    </div>
   
</div>
</div>