<div class="body-content">
    <div class="floating-content">
       <span class="page-title">Orders For Delivery</span>  
    </div>
    <div class="page-title-button">
        <button mat-raised-button color="accent"  (click)="downloadDeliveryOrdersPdf()">Download Order Pdf</button>
    </div>
    <div class="u-clearfix"></div>
    <br />
    <div class="form-error" *ngIf="showError">
        <br />
        There was an error retrieving your orders, please contact support if this persists
        <br /><br />
    </div>
    <div id="ordersList" #ordersList style="background-color: #fff; color: #000; padding: 20px;">
        <div class="orders-container" style="border-bottom: 1px solid dashed" *ngFor="let order of dataSource; let i = index">
            <div class="order-title">
                <strong>ORDER NUMBER {{i + 1}}</strong>
            </div>
            <div class="order-details" style="font-size: 11px;">
            Customer:  {{order.userProfile.fullname}} (order code : {{order.orderCode}})
            <br />
            Finalised On: {{order.finalisedDateDisplay}}
            <br />
            Delivery Date: {{order.deliveryDateDisplay}}
            </div>
            <br />
            <table mat-table #table [dataSource]="order.orderCompanyProducts">     

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef style="width:100px">Quantity Ordered</th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>       
            
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price per Unit </th>
                    <td mat-cell *matCellDef="let element"> {{element.price / 100 | currency: 'EUR'}} </td>
                </ng-container>
        
                <!-- Weight Column -->
        
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.total / 100 | currency: 'EUR'}} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyProduct.product.name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table >
            <br /> <br />
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
            <br />
        </div>

       <strong> Orders Total: {{totalForTrim/100 | currency:'EUR' }}<br />
        Collecting Agent: Steven Makombora (142-WW-1192)<br />
        Collection Time: 11.00AM  on {{dataSource[0].deliveryDateDisplay}}
        </strong>
    </div>
    
  </div>
