<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{slide.image}}" alt="" width="100%">
    <div class="carousel-actions">
      <p class="slide-description">
        {{slide.description}}
      </p>
      <br />
      <a routerLink="{{slide.redirectUrl}}" class="banner-action">Start Shopping</a>
    </div>
</div>
</ngx-slick-carousel>
<app-top-sellers></app-top-sellers>
<app-testimonials></app-testimonials>